<section class="wrapper">
  <div class="container">
    <h1 class="headline"><%= @recipe.name %></h1>
    <div class="recipe-details">      
      <ul class="recipe-details-info">
        <li>
          <p><span>Preparation time: </span><%= @recipe.preparation_time %></p>
        </li>
        <li>
          <p><span>Cooking time: </span><%= @recipe.cooking_time %></p>
        </li>
        <li>
          <p><span>Description: </span><%= @recipe.description %></p>
        </li>
      </ul>
      <div class="recipe-public-toggle-wrapper">
        <p>Public:</p>
        <%= button_to '', recipe_path(@recipe), class: "recipe-public-toggle #{@recipe.public? ? 'on' : 'off'}",
                      method: :patch, params: { recipe: { public: !@recipe.public? } } %>
      </div>
    </div>
    <div>
      <%= link_to 'Generate shopping list', general_shopping_list_index_path %>
      <%= link_to 'Add ingredient', general_shopping_list_index_path %>
    </div>
  </div>
</section>
