<%= form_with(model: recipe_food, url: recipe_recipe_foods_path, class: 'add-food-form') do |form| %>
  <% if recipe_food.errors.any? %>
    <div style="margin-bottom: 0.5rem">
      <h3><%= pluralize(recipe_food.errors.count, "error") %> prohibited this ingredient from being saved:</h3>

      <ul style="margin-left: 1.5rem">
        <% recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="add-food-form-fields">
      <div>
        <%= form.label :food_id, 'Food' %>
        <%= form.select :food_id, food_list_for_current_user %>
      </div>

      <div>
        <%= form.label :quantity %>
        <%= form.number_field :quantity, min: 0, max: 999, value: 0 %>
      </div>
    </div>

    <div>
      <%= form.submit 'Add', class: 'recipe-create-btn' %>
      <%= link_to 'Cancel', recipe_path(params[:recipe_id]), class: 'recipe-create-btn' %>
    </div>
  </div>
<% end %>
